.toolbar-footer__main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-height: 1.5rem;

    .text-footer{
        font-size: 0.8rem;
        font-weight: 300;
        margin-right: 0.8rem;
    }
    span a {
        display: flex;
        align-items: center;

        .logo-developer {
            max-height: 3rem;
            max-width: 8rem;
            height: auto;
            width: auto;
        }
    }
}