.example-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #afafaf;
}
.example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}